*{
    padding: 0;
    margin: 0;
    border: 0;
}

html{
    height: 100%;
}

body{
    font-family: 'Gill Sans', sans-serif;
    height: 100%;
}

/*Home*/

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr auto;
}

#header-large-screens{
    display: none;
}

header{
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: rgb(2, 46, 0);
    font-size: 2.5rem;
}

.hamburger-icon{
    float: right;
    background-color: rgb(175, 175, 175);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-icon:active{
    background-color: white;
}

nav{
    grid-column-start: 1;
    grid-column-end: 13;
    z-index: 1;
    background-color: rgb(228, 228, 228);
}

nav ul{
    list-style: none;
    line-height: 40px;
}

nav a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    padding-left: 25px;
}

nav a:active{
    color: white;
}

.hide{
    visibility: hidden;
}

.homepage-heading-and-image{
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: center;
    margin-top: -150px;
    margin-bottom: 70px;
}

.homepage-heading-and-image h1{
    margin-bottom: 10px;
}

.homepage-heading-and-image p{
    margin-bottom: 20px;
}

.neema-image{
    width: 80%;
}

footer{
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: rgb(2, 46, 0);
    font-size: 2rem;
    height: 70px;
    color: rgb(235, 235, 235);
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

@media(min-width: 768px){
    .container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto 1fr auto;
}

#header-large-screens{
    display: block;
} 

header{
    grid-column-start: 1;
    grid-column-end: 13;
    grid-row-start: 1;
}

.hamburger-icon{
    float: right;
    background-color: rgb(175, 175, 175);
    width: 50px;
    height: 50px;
    display: none;
}

.hamburger-icon:active{
    background-color: white;
    display: none;
}

nav{
    z-index: auto;
    background-color: rgb(2, 46, 0);
}

nav ul{
    list-style: none;
    line-height: normal;
    text-align: center;
    
}

nav li{
    display: inline-block;
    margin: 5px;
}

nav a{
    text-decoration: none;
    font-size: 1.3rem;
    color: rgb(235, 235, 235);
    display: flex;
    align-items: center;
    padding-bottom: 35px;
    padding-top: 35px;
    padding-left: 0;
    
}

nav a:active{
    color: rgb(128, 128, 128);
}

.hide{
    display: none;
}


.homepage-heading-and-image{
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;

}

.homepage-heading-and-image h1{
    margin-bottom: 10px;
    font-size: 54px;
}

.homepage-heading-and-image p{
    margin-bottom: 20px;
    font-size: 24px;

}

.neema-image{
    width: 30%;
}

footer{
    grid-column-start: 1;
    grid-column-end: 13;
    font-size: 3rem;
    height: 160px;
}


}

@media(min-width: 1024px){
    .change-color-on-hover{
        color: red;
    }
}

/*Exp*/


.cards{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 3;
    margin-top: -150px;
    margin-bottom: 70px;
}

.card{
    background-color: rgb(230, 230, 230);
    margin-bottom: 15px;
    display: grid;
    grid-template-rows: 10px 45px 45px 45px 45px 15px auto;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(121, 121, 121, 0.5);
}

.card h2{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 2;
}

.year{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 3;
}

.role{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 4;
}

.read-more1 {
    grid-row-start: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 46, 0);
    color: rgb(235, 235, 235);
    width: 50%;
    height: 30px;
    margin: 10px auto 0 auto;
    box-shadow: 2px 2px 2px gray;
}

.read-more2 {
    grid-row-start: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 46, 0);
    color: rgb(235, 235, 235);
    width: 50%;
    height: 30px;
    margin: 10px auto 0 auto;
    box-shadow: 2px 2px 2px gray;
}

.read-more3 {
    grid-row-start: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 46, 0);
    color: rgb(235, 235, 235);
    width: 50%;
    height: 30px;
    margin: 10px auto 0 auto;
    box-shadow: 2px 2px 2px gray;
}

.read-more4 {
    grid-row-start: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 46, 0);
    color: rgb(235, 235, 235);
    width: 50%;
    height: 30px;
    margin: 10px auto 0 auto;
    box-shadow: 2px 2px 2px gray;
}

.read-more5 {
    grid-row-start: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 46, 0);
    color: rgb(235, 235, 235);
    width: 50%;
    height: 30px;
    margin: 10px auto 0 auto;
    box-shadow: 2px 2px 2px gray;
}

.read-more6 {
    grid-row-start: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(2, 46, 0);
    color: rgb(235, 235, 235);
    width: 50%;
    height: 30px;
    margin: 10px auto 0 auto;
    box-shadow: 2px 2px 2px gray;
}

.background-readmore{
    background-color: red;
}

.card-article1{
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: left;
    font-size: 1.2rem;
    display: none;
}

.card-article2{
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: left;
    font-size: 1.2rem;
    display: none;
}

.card-article3{
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: left;
    font-size: 1.2rem;
    display: none;
}

.card-article4{
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: left;
    font-size: 1.2rem;
    display: none;
}

.card-article5{
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: left;
    font-size: 1.2rem;
    display: none;
}

.card-article6{
    grid-row-start: 7;
    grid-row-end: 8;
    text-align: left;
    font-size: 1.2rem;
    display: none;
}

.card-article-ul{
    margin-left: 25px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card-article-ul li{
    margin: 5px;
}

@media(min-width: 768px){
    .cards{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    margin-top: 50px;
    margin-bottom: 70px;
}
}

@media(min-width: 1024px){
    .cards{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    margin-top: 50px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    
}

.card{
    background-color: rgb(230, 230, 230);
    margin-bottom: 0;
    display: grid;
    grid-template-rows: 10px 45px 45px 45px 45px 15px auto;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(121, 121, 121, 0.5);
}

.card-1{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    align-self: start;
}

.card-2{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    align-self: start;
}

.card-3{
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    align-self: start;
}

.card-4{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    align-self: start;
}

.card-5{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    align-self: start;
}

.card-6{
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 2;
    align-self: start;
}

}

/*Testimonials*/

#testimonials{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 3;
    margin-top: -155px;
    margin-bottom: 50px;
}

#testimonials p{
    margin: 7px 0 7px 0;
}

#testimonials h4{
    color:rgb(70, 70, 70);
    margin-bottom: 5px;
}

#testimonial-1-keep-reading{
    color: blue;
}

.testimonial-1-hide{
    display: none;
}

@media(min-width: 768px){
    #testimonials{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    margin-top: 50px;
    margin-bottom: 50px;
}
}

/*Contact*/


form{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 3;
    margin-top: -170px;
}

.form-input{
    height: 30px;
    width: 100%;
    border: 1px solid rgb(2, 46, 0);
    margin-bottom: 5px;
}

.textarea{
    height: 60px;
    width: 100%;
    border: 1px solid rgb(2, 46, 0);
    margin-bottom: 15px;
}


.form-button{
    padding: 10px;
    display: block;
    margin-bottom: 30px;
    background-color: rgb(2, 46, 0);
    color: rgb(232, 232, 232);
}

#map{
    height: 200px;
    grid-column-start: 2;
    grid-column-end: 12;
    margin-bottom: 40px;
}

@media(min-width: 768px){
    form{
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 2;
    margin-top: 30px;
}

#map{
    grid-column-start: 3;
    grid-column-end: 11;
    height: 300px;
}

.form-input{
    height: 50px;
    width: 100%;
    margin-bottom: 5px;
    font-size: 1.4rem;
}

.textarea{
    height: 80px;
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.form-button{
    padding: 15px;
    display: block;
    margin-bottom: 30px;
    font-size: 1.2rem;
}
}

@media(min-width: 1024px){
  form{
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    margin-top: 45px;
}

#map{
    grid-column-start: 4;
    grid-column-end: 10;
    height: 300px;
    margin-top: 20px;
    margin-bottom: 60px;
}
  
    .form-input{
    height: 60px;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.4rem;
}

.textarea{
    height: 90px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.form-button{
    padding: 15px;
    display: block;
    margin-bottom: 30px;
    font-size: 1.2rem;
} 
}









