*{
    padding: 0;
    margin: 0;
    border: 0;
}

html{
    height: 100%;
}

body{
    font-family: 'Gill Sans', sans-serif;
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr auto;
}

header{
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: gray;
    font-size: 2.5rem;
}

.hamburgerIcon{
    float: right;
    background-color: rgb(175, 175, 175);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburgerIcon:active{
    background-color: white;
}

nav{
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: rgb(204, 204, 204);
    z-index: 1;
}

nav ul{
    list-style: none;
    line-height: 40px;
}

nav a{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    padding-left: 25px;
}

nav a:active{
    color: white;
}

.hide{
    visibility: hidden;
}

.addBackgroundColorOnClick{
    background-color: rgba(139, 149, 238, 0.5);
}

.homePageHeadingAndImage{
    grid-column-start: 1;
    grid-column-end: 13;
    text-align: center;
    margin-top: -150px;
    margin-bottom: 70px;
}

.homePageHeadingAndImage h1{
    margin-bottom: 10px;
}

.homePageHeadingAndImage p{
    margin-bottom: 20px;
}

.neemaImage{
    width: 80%;
}

footer{
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: gray;
    font-size: 2rem;
    height: 70px;
}

#toTopButton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

/*Exp*/

.containerEx{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
}

.cards{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 3;
    margin-top: -150px;
    margin-bottom: 70px;
}

.card{
    background-color: rgb(230, 230, 230);
    height: 200px;
    margin-bottom: 15px;
    display: grid;
    grid-template-rows: 10px 1fr 1fr 1fr 1fr 10px;
    text-align: center;
    box-shadow: 2px 2px 2px rgba(121, 121, 121, 0.5);
}

.card h2{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 2;
}

.year{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 3;
}

.role{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row-start: 4;
}

.cardLink{
    grid-row-start: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardLink a{
    color: blue;
}


